<!DOCTYPE HTML>
<html>
<head>
	<title>Collect Phone Numbers!</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/custom.css" />
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="container">
		<h1 class="page-title"><a style="color:#ecf0f1;" href="/">Collect emails</a></h1>
		<hr>
		<div class="right message content">
			<h1 class="right">{{phone_msg}}</h1>
			{% if phone_url %}
			<h4 class="right"><a href="{{phone_url}}">{{phone_url}}</a></h4>
			{% endif %}
		</div>
	</div>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>