<!DOCTYPE HTML>
<html>
<head>
	<title>Collect Phone Numbers!</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/custom.css" />
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="container">
		<h1 class="page-title">Collect emails</h1>
		<div class="page-subtitle-wrapper">
			<div class="width:50%"><h4 class="page-subtitle">Easily make a site to direct your Twilio number to. People will be able to text their email address to you and it will be logged in a google docs spreadsheet.</h4></div>
		</div>
		<hr>
		<div class="jumbotron">
			<a href="{{phone_url}}">{{phone_url}}</a>
		</div>
	</div>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>