<!DOCTYPE HTML>
<html>
<head>
	<title>Collect Phone Numbers!</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/custom.css" />
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="container">
		<h1 class="page-title">Collect emails</h1>
		<div class="page-subtitle-wrapper">
			<div class="width:50%"><h4 class="page-subtitle">Easily make a site to direct your Twilio number to. People will be able to text their email address to you and it will be logged in a google docs spreadsheet.</h4></div>
		</div>
		<hr>
		<div class="content">
			<h3>Create phone number:</h3>
			<div class="row">
				<div class="col-lg-6">
					<form method="POST" action="/create_phone">
						<input type="text" class="form-control" id="google_docs_url" name="google_docs_url" placeholder="Google Docs Form URL" data-original-title="Make sure all elements are optional and that the URL ends with '/viewform'">
							<!-- https://docs.google.com/forms/d/13e8WNQePgFPhvP45_QU9WFsgcgkRtOAuTpcBjnx-Zh4/viewform -->
						<input type="text" class="form-control" id="success_msg" name="success_msg" placeholder="Success Message" data-original-title="Thanks! Your email has been logged :)">
						<input type="text" class="form-control" id="failure_msg" name="failure_msg" placeholder="Failure Message" data-original-title="Sorry, that doesn't look like an email">
						<br>
						<button class="btn btn-lg btn-primary" type="submit">Create!</button>
					</form>
				</div>
				<div class="col-lg-6">
					<h4>Instructions:</h4>
					<ol>
						<li>Create a Google Docs form with the text elements "Phone", "Email", "City", "State" (case-sensitive)</li>
						<li>Ensure that all elements are optional</li>
						<li>Make sure the URL ends with '/viewform'</li>
						<li>Enter in the info to the left, and click create!</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script>
	$("#google_docs_url").tooltip();
	$("#success_msg").tooltip();
	$("#failure_msg").tooltip();
	</script>
</body>
</html>